<header>

  <nav class="navbar">
    <a class="navbar-brand">Buy and Sell Pokemons!</a>


    <div class="liked">
      <a href="/liked">My favorites </a>
      <form method="GET" action="/login/id">

          <button type="submit" class="btn btn-primary" style="margin-right:1em">Log In</button>
    </div>


    </form>

  </nav>
</header>
