<header>

  <nav class="navbar">
    <a class="navbar-brand">Buy and Sell Pokemons!</a>


    <div class="liked">
      <a href="/liked">My favorites </a>

      <div>
        <% if (!userID) { %>
          <form action="/users/login" method="POST" >
            <input type="text" placeholder="ID" class="login-input" name="user_id">
            <button type="submit" class="login-button">Login</button>
          </form>
        <% } else { %>
          <p class="user-greeting">Welcome, <%= userID %></p>
          <form method="POST" action="users/logout"><button class="logout-button" type="submit">Logout</button></form>
        <% } %>
    </div>


    </form>

  </nav>
</header>
