<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>
  <table>
    <tbody>
      <% for(var i = 0; i < cards.length; i++) { %>
        <% if (i % 4 === 0 && i !== 0) {  %>
          <tr></tr>
        <% } %>
        <td>
          <div class="card-body">
            <h2 class="card-title"><%= cards[i].title %></h2>
            <img src="<%- cards[i].thumbnail_photo_url %>"/>
            <div ><%- cards[i].cost %></div>
              <% if (cards[i].active === false) { %>
                <h3>Sold Out</h3>
              <% } %>
          </div>
        </td>
      <% } %>
    </tbody>
  </table>
</body>

</html>
