// See: https://sass-lang.com/
@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

span {
  padding-right: 10px;
  padding-left: 10px;

}
.container {
  max-width: 1080px;
  min-width: 1040px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding-left: 10px;
}

.img-row {
  display: flex;
  width: 1080px;
  height: auto;
  flex-wrap: wrap;
  .img-container {
    width: 250px;
    text-align: justify;
    display: flex;
    flex-direction: column;

    img {
      margin: 15px;
      }
    }
}

#no-stock {
  filter: grayscale(90%);
  z-index: 1;
}
.card{
  width: 8em;
  margin-right: 150px;


}
.text-center {
  width: 200px;
}



.container-filter {
  margin-right: 100px;
}

#delete-button{
  float: right;
}
.card-row {

  display: flex;
  gap: 16px;
}
.row {
  display: flex;
  flex-direction: row;
  margin-right: 50px;
}
#cards-container{
  border-left: 6px solid red;
  padding-left: 4em;

}
.card-picture {
  margin-bottom: 0em;
}
.card-title {
  font-family: 'Pokemon Solid', sans-serif;

}
.card-body {
  margin-bottom: 0em;

}

#allbox {
  display: flex;
  justify-content: space-between;

}
.buy {
float: right;
}
.bottoms{
  transform: scale(1.2);
  text-shadow: 1px 1px 0 #000;

}
.boxed{
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

button {
  appearance: none;
  background-color: #3EB2FD;
  background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
  background-size: calc(100% + 20px) calc(100% + 20px);
  border-radius: 100px;
  border-width: 0;
  box-shadow: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-flex;
  font-family: CircularStd,sans-serif;
  font-size: 1rem;
  height: auto;
  line-height: 1.5;
  padding: 0.5em 3em;
  text-align: center;
  text-decoration: none;
  transition: background-color .2s,background-position .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
}

.page-title {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 70px;
}
a{
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 20px;

}

.navbar-brand {
  font-family: 'Pokemon Solid', sans-serif;
  font-size: 40px;
}
.fa-heart{
  margin-left: 1em;
  scale: 1.2;
  min-width: 2em;
  margin-left: 0.5em;
}
.fa-comments
{
  scale: 1.2;
  min-width: 2em;
  margin-left: -0.3em;
}
.fav {

  color: white

}
.msg{
  color: white;
  margin-left: 3em;
}
.buy-button
{
  margin-top: -0.2em;
  margin-left: -0.4em;
}
.Sold-Out
{
  scale: 1.5;
  margin-top: 1.5em;
  margin-left: 0.5em;
}
.user-greeting{
  margin-top: 2.5em;
  margin-bottom: -0.10em;
  color: #000;
  font-size: 1.3em;
}

.login-box {
  margin-bottom: 20px;
}
