body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: rgb(180, 180, 171);
  background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgb(177, 0, 0) 100%

}


.navbar {
  display: flex;
  height: 120px;
  background-color: red;
  background-image: url("https://www.transparenttextures.com/patterns/black-linen.png");
  font-family: "Bungee", cursive;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 120%;
  border-bottom:3px solid rgb(56, 56, 56);
  z-index: 10;
}


header {
  width: 100%
}


.page-title {
  margin-top: 150px;
}

.img-container {
  border: 2px solid black;
  max-width: 800px;
  margin: 1em;

  img {
    width: 80%;
    margin: auto;

  }
}


.card-picture {
  transition: all .2s ease-in-out;
  max-width: 15em;
}
.card-picture:hover {
  transform: scale(1.1);

}

.card-picture:focus{
  transform: scale(2.2);
  position: fixed;
  top: 30%;
  left: 40%;
  z-index: 10;
}

.img-row {
  .img-container {
    i {

      display: inline-block;
      // padding: 5px;
      // cursor: pointer;
      // border: 1px solid #ccc;
      // background: -webkit-linear-gradient(top, #fff, #ddd) #ddd;
      // position: relative;
      // transition: all .5s ease;
      // border-radius: 3px;
      // box-shadow: inset 0 -1px 1px #eee;



      &:hover {
        background: -webkit-linear-gradient(top, #fff, #ccc) #ddd;
        background-image: url("https://www.transparenttextures.com/patterns/45-degree-fabric-light.png");
      }
    }
  }
}

button
{
  width: 80px;
  justify-content: center;
}

button:hover
{
  width: 80px;
  justify-content: center;
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
  transform: scale(1.1) perspective(1px);
  background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/5/51/Pokebola-pokeball-png-0.png/800px-Pokebola-pokeball-png-0.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position-y: center;

}

button:active{
  background:olive;
}
button:focus{
  background-color: #fff;
  background-color: rgba(255,255,255,0.5);
}


.fa-heart:hover {
  color: red
}
