body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  // background: linear-gradient(
  //   227deg,
  //   rgba(163, 208, 219, 1) 0%,
  //   rgba(163, 176, 219, 1) 20%,
  //   rgba(163, 173, 219, 1) 34%,
  //   rgba(163, 219, 208, 1) 59%,
  //   rgba(163, 208, 219, 1) 74%,
  //   rgb(177, 0, 0) 100%

}


.navbar {
  display: flex;
  height: 120px;
  background-color: red;
  font-family: "Bungee", cursive;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  padding-top: 2em;
  padding-bottom: 2em;
  justify-content: space-between;
  position: fixed;
  top: 0%;
  width: 100%;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 120%;


}


header {
  width: 100%
}


.page-title {
  margin-top: 150px;
}

.img-container {
  border: 2px solid black;
  max-width: 800px;
  margin: 1em;

  img {
    width: 80%;
    margin: auto;

  }
}

.img-row {
  .img-container {
    i {

      display: inline-block;
      // padding: 5px;
      // cursor: pointer;
      // border: 1px solid #ccc;
      // background: -webkit-linear-gradient(top, #fff, #ddd) #ddd;
      // position: relative;
      // transition: all .5s ease;
      // border-radius: 3px;
      // box-shadow: inset 0 -1px 1px #eee;



      &:hover {
        background: -webkit-linear-gradient(top, #fff, #ccc) #ddd;
      }
    }
  }
}

button
{
  width: 80px;
  justify-content: center;
  background-color: transparent;

}

.fa-heart:hover {
  color: red
}
